body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #f7f7fa;
  color: #333;
}

header {
  background-color: #95c47e;
  color: white;
  padding: 20px 0 20px 0;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 3px solid #e2dfd2;
}

nav {
  display: flex;
  justify-content: center;
  background: #e2dfd2;
  padding: 10px 0;
  align-items: center;
}

nav button {
  color: #395315;
  text-decoration: none;
  font-weight: 600;
  margin: 0 15px;
  transition: color 0.2s;
  border: none;
  background-color: #e2dfd2;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.2s, color 0.2s;
}

nav button:hover{
  cursor: pointer;
  background-color: #95c47e;
  color: #fff;
}

nav a:hover {
  color: #789336;
}

.text_box {
  max-width: 1000px;
  margin: 32px auto 0 auto;
  padding: 30px 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(149,196,126,0.08);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 0;
  margin-top: 30px;
}

.gallery-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin: 13px;
  border-radius: 10px;
  border: 2px solid #e2dfd2;
  box-shadow: 0 1px 6px rgba(149,196,126,0.11);
  transition: transform 0.2s, box-shadow 0.2s;
}

.gallery-img:hover {
  transform: scale(1.08);
  box-shadow: 0 4px 18px rgba(149,196,126,0.21);
}
